.footer {
    display: flex;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #74726b;
}

.footer-content {
    padding: 2em;
    font-size: 20px;
    width: 35%;
}

.footer-social{
    padding: 20px;
    width: 30%;
    text-align: center;
}

.footer-social-img{
    margin-top: 4em;
    margin-right: 1em;
}

.footer-content-img {
    width: 30%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 954px) {
    .footer-content{
        margin-top: 1em;
        font-size: 14px;
        text-align: center;
    }
  }

  @media screen and (max-width: 640px) {
    .footer-social-img{
        margin: 0;
        display: flex;
    }

    .footer-social{
        width: 100px;
        padding: auto;
    }

    

    .footer-img{
        margin-top: 2em;
        width: 230px;
        height: 100px;
    }

  }
