@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
.hero-content-page {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Img/hero_pizza.jpg");
}
.hero-content{
    font-family: 'Mate SC', serif;
    font-size: 40px;
    margin: auto;
    color: white;
}
.hero-btn-order{
    display: flex;
    cursor: pointer;
    font-family: 'Mate SC', serif;
    background: rgb(163, 153, 153);
    color: rgb(0, 0, 0);
    padding: 12px 50px;
    border-radius: 4px;
    margin: auto;
}


