.hero-content{
    background-color: aqua;
    width: 100%;
    height: 220px;
}

.hero-content-text{
    float: left;
    width: 350px;
    height: 180px;
    margin-top: 2em;
    margin-left: 2em;
    padding: 1em;
}

.hero-content-img {
    float: right;
    margin-right: 2em;
    margin-top: 1em;
    -webkit-animation: scale-up-ver-top 4s linear infinite alternate both;
    animation: scale-up-ver-top 4s linear infinite alternate both;
}


@-webkit-keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }
  @keyframes scale-up-ver-top {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
    }
  }

/*responzivita do 550px*/
